.advantages__wrapper--blue {
  background-color: $blue;
}

.advantages__wrapper--grey {
  background-color: $grey;
}

.advantages__description {
  padding: 61px 27px 45px 28px;
}

.advantages__image {
  display: block;

  object-fit: cover;
}
