.advantage__number,
.advantage__text {
  margin: 0;
}

.advantage--white-text {
  color: $white;
}

.advantage {
  flex-shrink: 0;

  @media (min-width: $pad) {
    min-width: 256px;
  }

  @media (min-width: $desktop) {
    min-width: 400px;
  }
}
