.button {
  display: inline-flex;
  justify-content: center;
  // width: 100%;
  width: auto;
  padding: 17px 15px 18px;

  font-family: $ptsans-bold;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
  vertical-align: middle;
  color: $white;
  text-transform: uppercase;
  text-align: center;

  background-color: $blue;
  border: none;
}
