.features-list__title,
.features-list__text {
  margin: 0;
}

.features-list {
  @include reset-list;
  width: auto;
  margin: 0 auto;
  padding: 6px 20px 38px;

  box-sizing: border-box;

  @media (min-width: $pad) {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: unset;
    margin: 0 auto;
    padding: 159px 0 83px;
  }
}

.features-list--last-list {
  padding: 6px 31px 28px;

  @media (min-width: $pad) {
    padding: 25px 0 10px;
  }
}

.features-list__item {
  position: relative;

  padding-left: 50px;

  text-align: left;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  @media (min-width: $pad) {
    width: 163px;
    padding: 0;

    text-align: center;

    &::before {
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop) {
    width: 400px;
    padding: 0 67px;
  }
}

.features-list--last-list .features-list__item::before {
  content: none;
}

.features-list__item--gift {
  @media (min-width: $pad) {
    order: 1;
  }
}

.features-list__item--food {
  @media (min-width: $desktop) {
    padding: 0 50px;
  }
}

.features-list__item--housing::before {
  top: -8px;
  left: 2px;

  width: 37px;
  height: 36px;

  background-image: url("../../img/icon-house.svg");

  @media (min-width: $pad) {
    top: -98px;
    left: 50%;

    width: 75px;
    height: 72px;
  }
}

.features-list__item--food::before {
  top: -4px;
  left: -2px;

  width: 40px;
  height: 35px;

  background-image: url("../../img/icon-burger.svg");

  @media (min-width: $pad) {
    top: -95px;
    left: 50%;

    width: 77px;
    height: 68px;
  }
}

.features-list__item--gift::before {
  top: -8px;
  left: 5px;

  width: 32px;
  height: 38px;

  background-image: url("../../img/icon-gift.svg");

  @media (min-width: $pad) {
    top: -95px;
    left: 50%;

    width: 64px;
    height: 75px;
  }

  @media (min-width: $desktop) {
    top: -101px;
  }
}

.features-list__item--center {
  margin-top: 20px;
  padding: 0;
  padding-bottom: 35px;
  text-align: center;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $desktop) {
    padding: 0 50px 55px;
  }
}

.features-list__title {
  margin-top: 29px;
  margin-bottom: 14px;

  @media (min-width: $pad) {
    margin-top: 0;
    margin-bottom: 22px;
  }
}

.features-list__text {
  text-transform: uppercase;
}
