.intro {
  position: relative;
}

.intro__text-wrapper {
  padding: 39px 25px 42px 25px;

  @media (min-width: $pad) {
    width: 490px;
    margin: 49px auto 50px;
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 580px;
  }
}

.intro__title {
  margin: 0;
  margin-bottom: 29px;
}

.intro__text {
  margin: 0;

  text-transform: uppercase;
  line-height: 26px;
}
