.page-footer__wrapper {
  padding-top: 34px;
  padding-bottom: 23px;

  @media (min-width: $pad) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }

  @media (min-width: $desktop) {
    padding: 36px 120px;
  }
}

.page-footer__hashtag {
  display: block;
  margin-bottom: 39px;

  color: $black;

  @media (min-width: $pad) {
    margin-bottom: 0;
  }
}

.page-footer__social {
  margin-bottom: 39px;

  @media (min-width: $pad) {
    margin-bottom: 0;
    margin-left: -6px;
  }
}
