.search {
  width: 100%;
  max-width: 458px;
  margin: 0 auto;
}

.search__wrapper {
  padding: 27px 20px;
  padding-bottom: 50px;

  @media (min-width: $pad) {
    padding-bottom: 58px;
    padding-top: 55px;
  }
}

.search__title {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $pad) {
    margin-bottom: 31px;
  }
}

.search__text {
  margin: 0;
  margin-bottom: 35px;

  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $pad) {
    margin-bottom: 42px;
  }
}

.search__btn {
  width: 100%;
}
