.title {
  // margin: 0;
  font-family: $ptsans-bold;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  // font-weight: 400;
  text-transform: uppercase;
  // text-align: center;

  @media (min-width: $pad) {
    font-size: 21px;
  }
}

.title--big {
  font-size: 21px;
}

.title--large {
  @media (min-width: $pad) {
    font-size: 30px;
  }
}

.title--small {
  @media (min-width: $pad) {
    font-size: 14px;
  }
}
