$pad: 768px;
$desktop: 1200px;

$ptsans-regular: "PT Sans", arial, sans-serif;
$ptsans-bold: "PT Sans Bold", arial, sans-serif;

$blue: #81b3d2;
$coal-black: #333333;
$black: #000000;
$white: #ffffff;
$grey: #f2f2f2;
$grey-line: #e5e5e5;
